html {
  height: 100%;
}

header {
  background: linear-gradient(to right, #2a678d, #389491, #377694, #379391);
  height: 450px;
  width: 100%;
  padding-top: 48px;
}

h1.slogan {
  padding: 1em 0;
  color: #fff;
  font-size: 3.5em;
}
