html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

header {
  background: linear-gradient(to right, #2a678d, #389491, #377694, #379391);
  height: 708px;
  width: 100%;
  padding-top: 48px;
}

h1.slogan {
  padding: 1em 0;
  color: #fff;
  font-size: 3.5em;
}

div.laptop {
  float: left;
  position: relative;
}

div.main-content {
  margin-top: 50px;
  float: left;
  .fa {
    line-height: inherit;
    color: #000;
  }
}

div.number-circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 5px;
  background: #fff;
  border: 1px solid #666;
  color: #666;
  text-align: center;
  font: 12px Arial, sans-serif;
}

div.divider {
  margin: 2.5em 0;
}

div.errbit-ad {
  padding: 25px 0;
}

div.step h5 {
  margin: 10px 0;
}

div.step :first-child {
  margin-top: 3em;
}

div.feature {
  margin: 2em 0;
}

p {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

.circle-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto 25px auto;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0 0 1px #000 inset;
}

.circle-icon:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

footer {
  padding: 25px 0;
  p img {
    padding-left: .5em;
  }
}

